<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

</head>
<body ng-controller="myController as vm">

<label for="name"></label>
<input id="name" ng-model="name">
<h1>Usted ingreso: {{name}}</h1>

<form name="myForm">
    Email: <input type="email" name="myAddress" ng-model="text">
    <span ng-show="myForm.myAddress.$error.email" > no es un email valido!</span>
</form>



<script src="node_modules/angular/angular.js"></script>
<script src="app.js"></script>
</body>
</html>